body {
  font-family: "Roboto";
  margin: 0;
}

body > * {
  padding: 0 10vw;
}

.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.hero-content {
  display: flex;
  gap: 5vw;
  padding: 10vh 0;
}

.hero-text {
  flex: 1;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
}

.hero button {
  border: 0;
}

.hero-img {
  flex: 1;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
  text-align: center;
}

.info {
  text-align: center;
  margin: 3vw 0 6vw;
}

h2 {
  font-size: 32px;
  color: #1f2937;
  font-weight: 900;
}

button,
.call-to-action {
  background-color: #3882f6;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10vw;
}

.card-img {
  height: 10vw;
  width: 10vw;
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.quotation {
  background-color: #e5e7eb;
  padding: 10vw 20vw;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}

.author {
  font-weight: bold;
  text-align: right;
}

.call-to-action {
  margin: 5vw 10vw;
  padding: 2vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.call-to-action * {
  margin: 0;
}

.call-to-action button {
  border: 2px solid white;
}

.footer {
  text-align: center;
  padding: 2vw 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 8px 32px;
  border-radius: 8px;
}
